language = "nodejs"
run = "npm run build; npm start"

[env]
MONGO_URI = "mongodb+srv://rasoolmaryeem_db_user:sLlhSSZ6WROCoSVw@cluster0.jmxw34s.mongodb.net/notes_db?appName=Cluster0"
PORT = "5001"
UPSTASH_REDIS_REST_URL = "https://new-turtle-16745.upstash.io"
UPSTASH_REDIS_REST_TOKEN = "AUFpAAIncDJhNWIwNGU4NDZiNmE0MTA1OGM0MGQ4YmRmYTMyZmU1NnAyMTY3NDU"
NODE_ENV = "production"
